# ニコニコ動画の設定
nv:
  mail: foo@bar.com
  password: baz

# データベースの設定
db:
  host: "127.0.0.1"
  port: 3306
  user: foo
  password: bar
  database: nicoanime

# サイトの設定
application_title: NicoAnime
application_url: http://foo.bar.com/

# コンテンツの保存先（絶対パス）
contents_dir: /home/foo/www/public/contents
contents_dir_url: http://foo.bar.com/contents

# Amazon Cloud Drive
acd_cli_cache_path: /home/foo/www/public/contents
acd_cli_contents_dir: /nicoanime
